<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Classificate Movie</title>
    <link rel="stylesheet" href="../index.css">
    <link rel="stylesheet" href="../category/index.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>
<header class="header">
    <h1 class="logo">MOVIETIFY</h1>
    <nav>
        <a href="category">Category</a>
        <a href="movies">Movie</a>
        <a href="classification">Classification</a>
    </nav>
</header>
<section>

<h2 class="section-title">Classificate Movie</h2>
<form th:action="@{/classification/classificatemovie/{id}(id=${classificate.movieId})}" th:object="${classificate}" method="post">
    <input type="hidden" th:field="*{movieId}">
    <label>
        Movie:
        <select th:field="*{categoryId}">
            <option th:each="mehmet : ${categories}" th:value="${mehmet.category_id}" th:text="${mehmet.name}"></option>
        </select>
    </label><br>
    <button type="submit">Classificate</button>
</form>
<a href="/category">Back to Movie List</a>
</section>

</body>
</html>
