<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Classification Movie List</title>
</head>
<body>
<h2>Classification Movie List</h2>
<table>
    <thead>
        <tr>
            <th>Movie</th>
            <th>Category</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="cr:${serhat}">
            <td th:text="${cr.movie.title}"></td>
            <td th:text="${cr.category.name}"></td>
            <td th:text="${cr.date}"></td>
            <td>
                <a th:href="@{/classification/update/{id}(id=${cr.classification.classification_id})}">Update</a>
                <a th:href="@{/classification/delete/{id}(id=${cr.classification.classification_id})}">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>
