<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Category</title>
</head>
<body>
<h2>Update Category</h2>
<form th:action="@{/category/updatecategory.html/{id}(id=${berkay.category_id})}" th:object="${berkay}" method="post">
    <input type="hidden" th:field="*{category_id}">
    Name: <label>
    <input type="text" th:field="*{name}">
</label><br>
    <button type="submit">Update</button>
</form>
<a href="/categories/index">Back to Category List</a>
</body>
</html>
