<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Category</title>
    <link rel="stylesheet" href="../index.css">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="../classification/index.css">
</head>
<body>
<header class="header">
    <h1 class="logo">MOVIETIFY</h1>
    <nav>
        <a href="category">Category</a>
        <a href="movies">Movie</a>
        <a href="classification">Classification</a>
    </nav>
</header>
<section>

<h2 class="section-title">Update Category</h2>
<form th:action="@{/category/update/{id}(id=${berkay.category_id})}" th:object="${berkay}" method="post">
    <input type="hidden" th:field="*{category_id}">
    Name: <label>
    <input style="padding: 0.5rem;" type="text" th:field="*{name}">
</label><br>
    <button type="submit">Update</button>
</form>
<a href="/category">Back to Category List</a>
</section>

</body>
</html>
