<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Movie</title>
</head>
<body>
<h2>Add New Movie</h2>
<form th:action="@{/movies/add}" th:object="${movie}" method="post">
    Title: <label>
    <input type="text" th:field="*{title}">
</label><br>
    Director: <label>
    <input type="text" th:field="*{director}">
</label><br>
    Year: <label>
    <input type="number" th:field="*{year}">
</label><br>
    <button type="submit">Save</button>
</form>
<a href="/movies">Back to Movie List</a>
</body>
</html>
