<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Movie</title>
    <link rel="stylesheet" href="../index.css">
    <link rel="stylesheet" href="../category/index.css">
    <link rel="stylesheet" href="../classification/index.css">
</head>
<body>
<header class="header">
    <h1 class="logo">MOVIETIFY</h1>
    <nav>
        <a href="category">Category</a>
        <a href="movies">Movie</a>
        <a href="classification">Classification</a>
    </nav>
</header>
<section>

<h2 class="section-title">Add New Movie</h2>
<form th:action="@{/movies/add}" th:object="${movie}" method="post">
    Title: <label>
    <input style="padding: 0.5rem; margin-bottom: 1rem;" type="text" th:field="*{title}">
</label><br>
    Director: <label>
    <input style="padding: 0.5rem; margin-bottom: 1rem;" type="text" th:field="*{director}">
</label><br>
    Year: <label>
    <input style="padding: 0.5rem;" type="number" th:field="*{year}">
</label><br>
    <button type="submit">Save</button>
</form>
<a href="/movies">Back to Movie List</a>
</section>

</body>
</html>
