<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Movie</title>
</head>
<body>
<h2>Update Movie</h2>
<form th:action="@{/movies/update/{id}(id=${movie.movie_id})}" th:object="${movie}" method="post">
    <input type="hidden" th:field="*{movie_id}">
    Title: <label>
    <input type="text" th:field="*{title}">
</label><br>
    Director: <label>
    <input type="text" th:field="*{director}">
</label><br>
    Year: <label>
            <input type="number" th:field="*{year}">
</label><br>
    <button type="submit">Update</button>
</form>
<a href="/movies">Back to Movie List</a>
</body>
</html>
